---

---

<footer
    class="flex flex-col gap-6 px-5 py-10 text-center @container border-t border-solid border-[#d41132]/20 dark:border-[#d41132]/30"
>
    <div class="flex flex-wrap justify-center gap-6">
        <a
            class="text-gray-500 dark:text-gray-400 hover:text-[#d41132] transition-colors"
            href="#"
        >
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a
            class="text-gray-500 dark:text-gray-400 hover:text-[#d41132] transition-colors"
            href="#"
        >
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a
            class="text-gray-500 dark:text-gray-400 hover:text-[#d41132] transition-colors"
            href="#"
        >
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <p
        class="text-gray-500 dark:text-gray-400 text-base font-normal leading-normal"
    >
        &copy; 2025 Eduardo Becerril. All rights reserved.
    </p>
</footer>
